@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  outline: 0;
  appearance: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  color: white;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
  cursor: pointer;
}

body {
  background-color: #09090b;
}

h1 {
  font-weight: 800;
  font-size: 1.8rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 0.87rem;
}

h4 {
  font-size: 0.8rem;
}

h5 {
  font-size: 0.77rem;
}

small {
  font-size: 0.75rem;
}