@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap");

:root {
  --color-background: #09090b;
  --color-secondary: #131316;
  --color-t: ;

  --color-receipt: #0a5c5a;
  --color-cost: #3c1f2d;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: none;
  border: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Quicksand", sans-serif;
  font-size: 0.88rem;
  margin: 0;
  color: #ffffff;
  background-color: var(--color-background);
  user-select: none;
  overflow-x: hidden;
}

.container {
  display: grid;
  width: 100%;
  margin: 0 auto;
  gap: 1.8rem;
  grid-template-columns: 14rem auto;
}

a {
  color: var(--color-dark);
}

h1 {
  font-weight: 800;
  font-size: 1.8rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 0.87rem;
}

h4 {
  font-size: 0.8rem;
}

h5 {
  font-size: 0.77rem;
}

small {
  font-size: 0.75rem;
}

.tableUsers {
    display: relative;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}