@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap");

::-webkit-calendar-picker-indicator {
  filter: invert(1);
  cursor: pointer;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  color: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media screen and (max-width: 1330px) {
  /* .form_image{
        display: none;
    }*/
  .container {
    width: 90%;
  }
}

@media screen and (max-width: 1064px) {
/*   .container {
    width: 198%;
    height: auto;
  } */

/*   .input_group {
    flex-direction: column;
    overflow-y: scroll;
    flex-wrap: nowrap;
    max-height: 10rem;
    padding-right: 5rem;
  } */
  .gender_inputs {
    margin-top: 2rem;
  }
  .gender_group {
    flex-direction: column;
  }
  .gender_group {
    margin-top: 0.5rem;
  }
}
